*::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important; }

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); }

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08); }

body {
  overflow: hidden; }

.app-wrapper-main::-webkit-scrollbar-track {
  background-color: #dfdfdf; }

*:focus {
  outline: 0; }

.button {
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f1f1f1));
  border: none;
  border-radius: 5px;
  padding: 3px 8px;
  box-shadow: 0 0.5px 0.05px rgba(0, 0, 0, 0.4), 0 -0.5px 0 rgba(0, 0, 0, 0.12);
  font-size: 12px; }
  .button:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#e9e9e9)); }
  .button.active {
    background: #6b6b6b;
    border-color: #6b6b6b;
    color: #ffffff; }

.Input {
  width: 100%;
  border-radius: 3px;
  padding: 3px 8px;
  color: #444;
  font-size: 12px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border: 1px solid transparent;
  box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.15), 0 -0.5px 0 rgba(0, 0, 0, 0.15), 0.5px 0 0 rgba(0, 0, 0, 0.15), -0.5px 0 0 rgba(0, 0, 0, 0.15); }
  .Input:focus {
    border-color: #E10098;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(225, 0, 152, 0.1); }
  .Input.error {
    border-color: red; }

.RootView {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }

.ProjectDetail {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.ProjectDetailContent {
  position: absolute;
  left: 0;
  right: 0; }

.ProjectDetail__Workspace {
  position: absolute;
  right: 0;
  bottom: 0; }

.Workspace__Empty {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #fafafa; }

.Workspace__EmptyMessage {
  display: flex;
  color: #888;
  padding: 0 50px;
  text-align: center; }

.ProjectDetail__RightPanel {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #D4D4D4; }

.ProjectDetail__LeftPanel {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #D4D4D4; }

.ProjectList {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.ProjectListContent {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }

.ProjectListItem {
  cursor: pointer; }
  .ProjectListItem:hover {
    opacity: 0.8; }

.ProjectListItem__Icon {
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  padding: 10px;
  border-radius: 5px;
  width: 84px;
  height: 84px;
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  color: #ffffff; }

.ProjectListItem__Body {
  width: 100%;
  padding-left: 99px;
  height: 114px;
  position: relative; }

.ProjectListItem__Title {
  font-size: 18px;
  margin-bottom: 5px; }

.ProjectListItem__Description {
  font-weight: 200;
  font-size: 12px; }

.ProjectListItem__Meta {
  font-weight: 200;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4); }

.QueryList {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fafafa; }

.QueryListFilter {
  height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: #f0f0f0;
  border-bottom: 1px solid #D4D4D4; }
  .QueryListFilter .Filter {
    padding: 11px 13px;
    width: 100%; }
  .QueryListFilter .FilterInput {
    width: 100%;
    padding: 3px 8px;
    color: #222;
    background-color: #ffffff;
    border-radius: 5px;
    font-weight: 200;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border: 1px solid transparent;
    box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.15), 0 -0.5px 0 rgba(0, 0, 0, 0.15), 0.5px 0 0 rgba(0, 0, 0, 0.15), -0.5px 0 0 rgba(0, 0, 0, 0.15); }
    .QueryListFilter .FilterInput:focus {
      border-color: #E10098;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(225, 0, 152, 0.1); }

.QueryListContent {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto; }

.QueryListItem {
  height: 56px;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: row; }
  .QueryListItem:hover {
    background-color: #f4f5f5; }
  .QueryListItem.active {
    background-color: #e9ebeb; }

.QueryListItem__Icon {
  flex: none;
  display: flex;
  align-items: center;
  margin-top: -1px;
  padding: 0 15px 0 13px; }
  .QueryListItem__Icon .Icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #E10098;
    display: flex;
    justify-content: center;
    align-items: center; }
    .QueryListItem__Icon .Icon span {
      color: #fff;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 200; }

.QueryListItem__Body {
  flex-grow: 1;
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15px; }

.QueryListItem__Main {
  line-height: normal;
  align-items: flex-start;
  text-align: left;
  margin-top: -1px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.QueryListItem__Title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000;
  flex-grow: 1;
  display: flex; }

.QueryListItem__Meta {
  flex: none;
  margin-left: 6px;
  margin-top: 4px;
  line-height: 14px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4); }

.QueryListItem__Description {
  color: rgba(0, 0, 0, 0.4); }

.Workspace__Header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(#ececec 0%, #ececec 1.9%, #e9e9e9 2%, #d2d2d2 100%);
  border-bottom: 1px solid #b4b4b4;
  padding: 6px 13px 6px 83px;
  display: flex;
  -webkit-app-region: drag; }

.HeaderSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around; }
  .HeaderSection.HeaderSection--left, .HeaderSection.HeaderSection--right {
    width: 300px; }

.PanelHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f7f7f7;
  height: 47px;
  border-bottom: 1px solid #D4D4D4;
  padding: 14px 15px;
  font-size: 14px;
  text-align: center;
  font-weight: 200; }

.PanelBody {
  position: absolute;
  top: 47px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px 15px; }
  .PanelBody.PanelBody--has-footer {
    bottom: 47px; }

.PanelFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f7f7f7;
  height: 47px;
  border-top: 1px solid #D4D4D4;
  padding: 8px 15px;
  text-align: right; }

.EnvironmentList {
  position: relative;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px; }

.EnvironmentItem {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px; }

.EnvironmentFooter {
  padding: 15px;
  text-align: right; }

.UrlEditor {
  position: relative;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px; }

.UrlEditorSection {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px; }

.UrlEditorFooter {
  padding: 15px; }

.MapEditor {
  position: relative;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px; }
  .MapEditor .NoContent {
    padding: 15px;
    text-align: center;
    color: #888;
    border-bottom: 1px solid #ddd; }

.MapEditorFooter {
  padding: 15px; }

.MapItem {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px; }

.MapItemFooter {
  text-align: right; }

.Menu {
  display: flex;
  flex-direction: row; }

.Menu--horizontal {
  display: flex;
  flex-direction: row; }

.Menu--right {
  justify-content: flex-end; }

.MenuItem {
  flex: none;
  margin-right: 10px;
  position: relative;
  transition: background-color .18s ease; }
  .MenuItem:last-of-type {
    margin-right: 0; }
  .MenuItem button {
    margin: 0;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
  .MenuItem .Icon {
    width: 24px;
    height: 24px;
    display: flex; }
  .MenuItem .Label {
    display: flex; }
  .MenuItem .Select {
    height: 100%; }

.QueryPanel__Empty {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #fafafa; }

.QueryPanel__EmptyMessage {
  display: flex;
  color: #888;
  padding: 0 50px;
  text-align: center; }

.QueryMeta {
  position: relative;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px; }

.QueryMetaItem {
  padding: 8px 15px;
  border-bottom: 1px solid #ddd; }
  .QueryMetaItem:last-of-type {
    border-bottom: 0; }

.DocumentationPanel {
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #D4D4D4; }

.DocumentationPanel__Empty {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #fafafa;
  padding: 0 50px; }

.DocumentationPanel__EmptyMessage {
  display: flex;
  color: #888;
  text-align: center; }

.Tabs {
  width: 100%;
  height: 34px;
  background: #d0d0d0;
  overflow: hidden;
  border-radius: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 1px solid #b4b4b4; }

.TabElement {
  position: relative;
  display: inline-block;
  background-color: #d0d0d0;
  color: #222222;
  padding: 9px 10px;
  margin: 0;
  font-size: 11px;
  transition: background-color 50ms ease-in-out;
  align-items: center;
  cursor: pointer;
  border-right: 1px solid #b4b4b4; }
  .TabElement:hover {
    background-color: #f2f2f2; }
  .TabElement.active {
    background-color: #f2f2f2; }

.TabItem {
  max-width: 200px;
  padding-right: 24px; }
  .TabItem:hover .Title {
    background-color: #f2f2f2; }
  .TabItem.active .Title {
    background-color: #f2f2f2; }
  .TabItem .close-icon {
    position: absolute;
    top: 9px;
    right: 10px;
    cursor: pointer;
    z-index: 2;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    overflow: hidden;
    transform: scale(0);
    transition: transform 80ms; }
    .TabItem .close-icon:hover {
      background-color: #E10098; }
      .TabItem .close-icon:hover:before {
        color: #ffffff; }
    .TabItem .close-icon:before {
      font-family: 'FontAwesome';
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      text-decoration: none;
      font-size: 12px;
      width: 12px;
      height: 12px;
      top: 2px;
      left: 2px;
      content: "\f00d";
      position: absolute;
      text-align: center;
      line-height: 12px;
      pointer-events: none; }
  .TabItem:hover .close-icon {
    transform: scale(1);
    transition-duration: .16s; }
  .TabItem .Title {
    position: relative;
    text-align: center;
    border-bottom: 1px solid transparent;
    text-overflow: clip;
    -webkit-mask: linear-gradient(to left, transparent, #000000 1em) no-repeat;
    background-color: #d0d0d0;
    background-clip: content-box;
    backface-visibility: hidden;
    transition: background-color 50ms ease-in-out;
    white-space: nowrap; }

.TabAddButton .add-icon {
  position: absolute;
  top: 9px;
  right: 9px;
  cursor: pointer;
  z-index: 2;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  overflow: hidden; }
  .TabAddButton .add-icon:before {
    font-family: 'FontAwesome';
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    font-size: 12px;
    width: 12px;
    height: 12px;
    top: 2px;
    left: 2px;
    content: "\f067";
    position: absolute;
    text-align: center;
    line-height: 12px;
    pointer-events: none; }

.toolbar .toolbar-input {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 3px 8px;
  font-size: 12px;
  color: #444;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border: 1px solid transparent;
  box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.15), 0 -0.5px 0 rgba(0, 0, 0, 0.15), 0.5px 0 0 rgba(0, 0, 0, 0.15), -0.5px 0 0 rgba(0, 0, 0, 0.15); }
  .toolbar .toolbar-input:focus {
    border-color: #E10098;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(225, 0, 152, 0.1); }

.truncate-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative; }
