.VariableItem {
  display: flex;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.VariableItem__Key, .VariableItem__Value {
  display: flex;
  width: calc(50% - 50px);
}

.VariableItem__Element {
  padding: 0 5px;

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }
}

.VariableItem__RemoveButton {
  display: flex;
  width: 100px;

  button {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
  }
}