.EnvironmentList {
  position: relative;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.EnvironmentItem {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.EnvironmentFooter {
  padding: 15px;
  text-align: right;
}