.UrlEditor {
  position: relative;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.UrlEditorSection {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.UrlEditorFooter {
  padding: 15px;
}