.Workspace__Header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(#ececec 0%, #ececec 1.9%, #e9e9e9 2%, #d2d2d2 100%);
  border-bottom: 1px solid #b4b4b4;
  padding: 6px 13px 6px 83px;
  display: flex;
  -webkit-app-region: drag; // Allow dragging of the window
}

.HeaderSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;

  &.HeaderSection--left,
  &.HeaderSection--right {
    width: 300px
  }
}